<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="../static/bootstrap-3.3.7-dist/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!--顶部-->
		<header class="container" style="width:1300px;height:700px;background:white;align:center">
			<!--导航条-->
			<div th:include="pageNav"></div>

			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div>
							<!-- Nav tabs -->
							<ul class="nav nav-pills nav-stacked" role="tablist" id="myTabs">
								<li role="presentation">
									<div style="height:50px;padding:10px 15px;">
										<font size="5">师资队伍</font>
									</div>
								</li>
								<li role="presentation"><a th:href="@{findTeaStatus2.do(type='师资概况')}">师资概况</a>
								</li>
								<li role="presentation"><a th:href="@{findProfessorAll2.do(job='教授')}">教授</a></li>
								<li  class="active" role="presentation"><a th:href="@{findProfessorAll2.do(job='副教授')}">副教授</a></li>
							</ul>


						</div>
					</div>
					<div class="col-md-10">
						<!-- Tab panes -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-2" style="font-family: 宋体;font-weight: bold;color: #cc4446">
										教授
									</div>
									<div class="col-md-1  col-md-offset-9">
									</div>
								</div>
							</div>
							<div class="panel-body" style="height: 530px">
								<table class="table table-hover">
									<tr>
										<th>姓名</th>
										<th>职位</th>
										<th>任职时间</th>
										<th>照片</th>
										<th>查看</th>
									</tr>
									<tr th:each="teaInfo:${data}">
										<td th:text="${teaInfo.teacher_name}"></td>
										<td th:text="${teaInfo.job}"></td>
										<td th:text="${teaInfo.hiredate}"></td>
										<td>
											<img height="50px" width="40px" th:src="@{${teaInfo.photo}}">
										</td>
										<td>
											<a th:href="@{findProfessorById2.do(educate_id=${teaInfo.teacher_id})}">查看</a>
										</td>
									</tr>
								</table>
							</div>
							<!--分页-->
							<div class="panel-footer">
								<div class="row">
									<div class="col-md-9">
										页数：<span th:text="${pageNum}"></span>，
										总页数：<span th:text="${pageCount}"></span>，
										每页记录数：<span th:text="${pageSize}"></span>，
										数据总数：<span th:text="${number}"></span>
									</div>
									<div class="col-md-3">
													<span th:if="${pageNum!=1}">
                <a class="btn btn-default btn btn-default btn-xs"
				   th:href="@{findProfessorAll2.do(pageNum=1)}">首页</a>&nbsp;&nbsp;
                <a class="btn btn-default btn btn-default btn-xs"
				   th:href="@{findProfessorAll2.do(pageNum=(${pageNum}-1))}">上一页</a>
                    </span>
										<span th:if="${pageNum!=pageCount}">
                <a class="btn btn-default btn btn-default btn-xs"
				   th:href="@{findProfessorAll2.do(pageNum=(${pageNum}+1))}">下一页</a>
                <a class="btn btn-default btn btn-default btn-xs"
				   th:href="@{findProfessorAll2.do(pageNum=${pageCount})}">尾页</a>
                    </span>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</header>
		
		<!--底部-->
		<footer class="container-fluid" style="height:150px;background:#3e454b;font-size:12px">
			<div class="container" style="padding:12px 0;color: #FFF;">
				<p>Copyright 2014-2016 西安科技大学理学院 All rights reserved</p>
				<p>学院地址：陕西省西安市临潼区秦唐大道48号（临潼校区： 行政 本科生培养） 陕西省西安市雁塔中路58号（雁塔校区： 科研 研究生培养）</p>
				<p>联系电话： 029-83858195（临潼校区办公室） 029-85583197（雁塔校区办公室）</p>
				<p>安全监管监察学院（西安） 029-83858165</li>
				<p>版权所属： 西安科技大学理学院 2016-2020 college of safety science and engineering .</p>
			</div>
		</footer>
	</body>
</html>
