<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线资源修改</title>
    <link rel="stylesheet" href="../../../../static/layui/css/layui.css"  >
    <script type="text/javascript" src="../../../../static/layui/layui.js" ></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md2 layui-col-md-offset10">
        <span>
            <a class="layui-btn layui-btn-radius layui-btn-danger" href="javascript:history.back(-1)"> <i class="layui-icon">&#xe65c;</i>返回</a>
        </span>
        </div>
    </div>
    <form class="layui-form" method="post" th:action="@{updateDatumById.do}" enctype="multipart/form-data" >
        <div class="layui-form-item">
            <label class="layui-form-label">名成年</label>
            <div class="layui-input-block">
                <input type="hidden" th:value="${datum.datum_id}" name="datum_id" >
                <input type="hidden" th:value="${datum.number}" name="number" >
                <input type="text" th:value="${datum.datum_title}" name="datum_title"  lay-verify="required" placeholder="标题"  class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">时间</label>
            <div class="layui-input-block">
                <input type="text" id="date" lay-verify="date" th:value="${datum.date}" name="date" placeholder="格式：yyyy-MM-dd HH:mm:ss"  class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件</label>
            <div class="layui-input-block">
                <a style="color: #007DDB" th:href="@{downloadFile(fname=${datum.file})}"><p th:text="${datum.file_name}"></p></a>
                <input type="hidden" name="file_name" th:value="${datum.file_name}">
                <input type="hidden" name="file" th:value="${datum.file}">
                <input type="hidden" name="type" th:value="${datum.type}">
                <input type="file" name="fileDoc" >
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="submit" class="layui-btn"  value="立即修改"></input>
                <input type="reset"  class="layui-btn layui-btn-primary" value="重置"></input>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(['laydate','form'], function() {
        var laydate = layui.laydate;
        var form = layui.form;

        //常规用法
        laydate.render({
            elem: '#date'
            ,type: 'datetime'
        });
    })
</script>
</body>
</html>