<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学院概述列表</title>
    <link rel="stylesheet" href="../../../../static/layui/css/layui.css"  >
    <script type="text/javascript" src="../../../../static/layui/layui.js" ></script>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-row">
            <div class="layui-col-md3">
                <a th:href="@{toAddCollege.do}" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>添加</a>
            </div>
        </div>
    </div>
    <table class="layui-table" id="layui-table" lay-filter="demo" lay-skin="line">
        <colgroup>
            <col width="200">
            <col width="300">
            <col width="550">
            <col width="">
        </colgroup>
        <thead>
        <tr>
            <th>类型</th>
            <th>标题</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tr th:each="colInfo:${data}">
            <td th:text="${colInfo.type}">类型</td>
            <td th:text="${colInfo.college_title}">标题</td>
            <td th:text="${colInfo.date}">时间</td>
            <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}">
                <a class="layui-btn layui-btn-warm layui-btn-sm" th:href="@{findCollegeById.do(college_id=${colInfo.college_id})}">查看</a>
                <a class="layui-btn layui-btn-sm" th:href="@{toUpdateCollegeById.do(college_id=${colInfo.college_id})}">修改</a>
                <a class="layui-btn layui-btn-danger layui-btn-sm" th:href="@{deleteCollegeById.do(college_id=${colInfo.college_id})}">删除</a>
            </th>
        </tr>
    </table>
</div>
</body>
</html>