<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>杰出校友修改</title>
    <link rel="stylesheet" href="../../../../static/layui/css/layui.css"  >
    <script type="text/javascript" src="../../../../static/layui/layui.js" ></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md2 layui-col-md-offset10">
        <span>
            <a class="layui-btn layui-btn-radius layui-btn-danger" href="findOutAlumnaAll.do"> <i class="layui-icon">&#xe65c;</i>返回</a>
        </span>
        </div>
    </div>
    <form class="layui-form" method="post" th:action="@{updateOutAlumnaById.do}" enctype="multipart/form-data" >
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="hidden" th:value="${outAlumna.outstand_id}" name="outstand_id" >
                <input type="text" th:value="${outAlumna.outstand_name}" name="outstand_name"  lay-verify="required" placeholder="姓名"  class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职业</label>
            <div class="layui-input-block">
                <input type="text" th:value="${outAlumna.job}" name="job"   class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任职时间</label>
            <div class="layui-input-block">
                <input type="text" id="date" lay-verify="date" th:value="${outAlumna.hiredate}" name="hiredate" placeholder="格式：yyyy-MM-dd HH:mm:ss"  class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">照片</label>
            <div class="layui-input-block">
                <img th:width="300" th:src="@{${outAlumna.photo}}">
                <input type="hidden" name="photo" th:value="${outAlumna.photo}">
                <input type="file" name="filePhoto"  class="layui-btn">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">简介</label>
            <div class="layui-input-block">
                <textarea name="brief" rows="20" th:utext="${outAlumna.brief}" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="submit" class="layui-btn"  value="立即修改"></input>
                <input type="reset"  class="layui-btn layui-btn-primary" value="重置"></input>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#date'
            ,type: 'datetime'
        });
    })
</script>
</body>
</html>