<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="../static/bootstrap-3.3.7-dist/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<!--顶部-->
<header class="container" style="width:1300px;height:700px;background:white;align:center">
    <!--导航条-->
    <div th:include="pageNav"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-stacked" id="myTabs" role="tablist">
                        <li role="presentation">
                            <div style="height:50px;padding:10px 15px;"><font size="5">教学研究</font></div>
                        </li>
                        <li class="active" role="presentation"><a th:href="@{findEduInfoAll2.do}">教务信息</a></li>
                        <li role="presentation"><a th:href="@{findEduFlowAll2.do}">教务办公流程</a></li>
                        <li role="presentation"><a th:href="@{findEduManageAll2.do}">管理制度</a></li>
                        <li role="presentation"><a th:href="@{findEduAchieveAll2.do}">教学成果</a></li>
                        <li role="presentation"><a th:href="@{findEduResourceAll2.do}">在线资源</a></li>
                    </ul>


                </div>
            </div>
            <div class="col-md-10"><!-- Tab panes -->
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-family: 宋体;font-weight: bold;color: #cc4446">教务信息</div>
                    <div class="panel-body" style="min-height: 530px">
                        <table class="table table-hover">
                            <tr th:each="eduInfo:${data}">
                                <td><a th:href="@{findEduInfoById2.do(educate_id=${eduInfo.educate_id})}"><p
                                        th:text="${eduInfo.educate_title}"></p></a></td>
                                <td class="text-right" th:text="${eduInfo.date}"></td>
                            </tr>
                        </table>
                    </div>
                    <!--分页-->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-9">
                                页数：<span th:text="${pageNum}"></span>，
                                总页数：<span th:text="${pageCount}"></span>，
                                每页记录数：<span th:text="${pageSize}"></span>，
                                数据总数：<span th:text="${number}"></span>
                            </div>
                            <div class="col-md-3">
													<span th:if="${pageNum!=1}">
                <a class="btn btn-default btn btn-default btn-xs"
                   th:href="@{findEduInfoAll2.do(pageNum=1)}">首页</a>&nbsp;&nbsp;
                <a class="btn btn-default btn btn-default btn-xs"
                   th:href="@{findEduInfoAll2.do(pageNum=(${pageNum}-1))}">上一页</a>
                    </span>
                                <span th:if="${pageNum!=pageCount}">
                <a class="btn btn-default btn btn-default btn-xs"
                   th:href="@{findEduInfoAll2.do(pageNum=(${pageNum}+1))}">下一页</a>
                <a class="btn btn-default btn btn-default btn-xs"
                   th:href="@{findEduInfoAll2.do(pageNum=${pageCount})}">尾页</a>
                    </span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<!--底部-->
<footer class="container-fluid" style="height:150px;background:#3e454b;font-size:12px">
    <div class="container" style="padding:12px 0;color: #FFF;">
        <p>Copyright 2014-2016 西安科技大学理学院 All rights reserved</p>
        <p>学院地址：陕西省西安市临潼区秦唐大道48号（临潼校区： 行政 本科生培养） 陕西省西安市雁塔中路58号（雁塔校区： 科研 研究生培养）</p>
        <p>联系电话： 029-83858195（临潼校区办公室） 029-85583197（雁塔校区办公室）</p>
        <p>安全监管监察学院（西安） 029-83858165</li>
        <p>版权所属： 西安科技大学理学院 2016-2020 college of safety science and engineering .</p>
    </div>
</footer>


</div>
</body>
</html>
