<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>研究生培养信息</title>
    <link rel="stylesheet" href="../../../../static/layui/css/layui.css"  >
    <script type="text/javascript" src="../../../../static/layui/layui.js" ></script>
</head>
<body class="layui-container">
<div class="layui-row">
    <div class="layui-col-md2 layui-col-md-offset10">
        <span>
            <a class="layui-btn layui-btn-radius layui-btn-danger" href="javascript:history.back(-1)"> <i class="layui-icon">&#xe65c;</i>返回</a>
        </span>
    </div>
</div>
<div  class="layui-row">
    <div class="layui-col-md3 layui-col-md-offset4">
        <h2><span th:text="${traGraduate.train_title}"> </span></h2>
    </div>
</div>
<div  class="layui-row">
    <div class="layui-col-md4 layui-col-md-offset5">
        <pre th:text="${traGraduate.date}"> </pre>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <pre th:text="${traGraduate.content}"></pre>
    </div>
</div>
</body>
</html>