<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>底部内容</title>
</head>
<body>
<footer class="container-fluid" style="height:150px;background:#3e454b;font-size:12px">
    <div class="container" style="padding:12px 0;color: #FFF;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Copyright 2014-2016 西安科技大学理学院 All rights reserved</p>
                <p>学院地址：陕西省西安市临潼区秦唐大道48号（临潼校区： 行政 本科生培养） 陕西省西安市雁塔中路58号（雁塔校区： 科研 研究生培养）</p>
                <p>联系电话： 029-83858195（临潼校区办公室） 029-85583197（雁塔校区办公室）</p>
                <p>安全监管监察学院（西安） 029-83858165</li>
                <p>版权所属： 西安科技大学理学院 2016-2020 college of safety science and engineering .</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>